.a {
    background-color: purple;
}

.b {
    background-color: blue;
}

.c {
    background-color: green
}

.d {
    background-color: greenyellow
}

.e {
    background-color: yellow
}

.f {
    background-color: orange
}

.g {
    background-color: orangered
}

.h {
    background-color: red
}

.i {
    background-color: rgb(250, 98, 123)
}

